html, body {
    background-color: #f1f1f2;
    font-size: 18px;
    line-height: 1;
}

body, p, h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", sans-serif;
    color: #808284;
}

.container {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #808284;
    padding-top: 50px;
    background: #f1f1f2;
    padding-bottom: 50px;
}